
body {
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	height: 100%;
}

#container {
}

#content {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -385px;
}

#stickynote {

    position: relative;   
    margin: 0 auto;  
    -webkit-box-shadow: 0 6px 11px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);  
    -moz-box-shadow: 0 6px 11px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);  
    box-shadow: 0 6px 11px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);  
}  
 
#blurb {
	margin-top: 50px;
	font-family: Futura, Consolas, Courier;
	font-size: 14pt;	
}